<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-12">
            <!-- Concratulation card Profile -->
            <div class="container-fluid backGround-color pb-5">
                <div class="card justify-content-center mx-auto shadow-lg" >
                    <div class="row">
                        <div class="col-lg-3 mt-2">
                            <img src="../../../../../assets/images/upwork-computer.jpg" alt="Upwork" style="width: 90%;">
                        </div><!--col-lg-3-->

                        <!-- <div class="toast bg-secondary mt-4" data-autohide="false">
                            <div class="toast-body">
                                <button type="button" style="position: relative; top: 0; right: 0;" class="ml-2 bg-dark mb-1 close p-2 text-light" data-dismiss="toast">&times;</button>
                                <h3 class="mr-auto text-light p-2">Hey!</h3>
                                <h5 class="p-2">People are looking at your profile. Find out who.</h5>
                            </div>
                            
                        </div> -->
                        <div class="col-lg-9">
                            <h2>Congratulations! You're now part of Upwork!</h2>
                            <div class="card-body mb-2">
                                <h4 class="card-title">Tips to get started:</h4>
                                <span class="fontsize-card-header"><i class="icon-color fas fa-check fa-lg mr-3"></i>Complete your profile. Add portfolio items, testimonials, and certifications to stand out.</span><br>
                                <span class="fontsize-card-header"><i class="icon-color fas fa-check fa-lg mr-3"></i>You'll win more jobs by using the Upwork app.</span><br>
                                <span class="fontsize-card-header"><i class="icon-color fas fa-check fa-lg mr-3"></i>Submit eye-catching proposals. And remember, it can often take more than 5 proposals to win your first client.</span><br>
                                <span class="fontsize-card-header"><i class="icon-color fas fa-check fa-lg mr-3"></i>Read up on Upwork Payment Protection for working through Upwork.</span><br>
                            </div>
                        </div><!--col-lg-9-->
                    </div><!--row-->
                </div>
            </div>
        </div>
    </div> <!--row-->
</div> <!--container-fluid-->


<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-2 fontsize-sidebar">
            <a routerLink="#" >
                <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active">
                    <div class="col-lg-1 p-0"></div>
                    <div class="col-lg-8 p-0">My Feed</div>
                </div>
            </a>
            <a routerLink="#" >
                <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active">
                    <div class="col-lg-1 p-0"></div>
                    <div class="col-lg-8 p-0">Best Matches</div>
                </div>
            </a>
            <a routerLink="#">
                <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active">
                    <div class="col-lg-1 p-0"></div>
                    <div class="col-lg-8 p-0">Recommended</div>
                </div>
            </a>
            
        </div>
        <div class="col-lg-8">
            <div class="card justify-content-center mx-auto shadow-lg" >
                <div class="card-header get-started-title" style="background-color: transparent;">
                    <h2>My Feeds</h2>
                </div>
                <div class="card-body mb-2">
                    <h4 class="card-title">
                        <a href="#" class="header-link-jobs">Full time job for full stack php/ wp /react talent</a>
                    </h4>
                    <p class="card-text text-muted paragraph-fontSize">Hourly- Expert Est. Time: More than 6 months, 30+ hrs/week - Posted 56 minutes ago</p>
                    <p class="paragraph-content-fontSize" style="background-color: transparent; border: 0;">
                        We are a small boutique web development company looking for trusted, talented full stack 
                        developers to work with.
                        <br>
                        Job is about 75% front end and 25% back end and servers.
                        <br>
                        Our main focus is PHP (wordpress / magento / custom) with lots of API integrations and in
                        particular super clean code, lighthouse focused....
                        <br>
                        React is important as well as it is the front end of several important projects.
                        Good understanding and experience with cPanel / AWS / Lambda / EC2 / Node JS / Python 
                        is also good.
                        <br>
                        You will work on our timezone (IST) Sun-Thu 9am - 6pm and communicate with the rest of
                        the office mainly using slack & skype while tracking all your hours in system.
                        <br>
                        Do not contact if you cannot handle these requirements fully please.
                        Send your CV & samples of your work please along with your hourly and monthly rate.
                        <br>
                        
                        Good luck   
                    </p>
                    <div class="mb-2">
                        <a href="#" class="badge background-badge">Website Development</a>
                        <a href="#" class="badge background-badge ml-2">API</a>
                        <a href="#" class="badge background-badge ml-2">Adobe Photoshop</a>
                        <a href="#" class="badge background-badge ml-2">PHP</a>
                        <a href="#" class="badge background-badge ml-2">Apache HTTP Server</a>
                    </div>

                    <div class="mt-3">
                        <h5>Poposel: <span class="text-muted">Less than 5</span></h5>
                    </div>
                    <div class="mt-3">
                        <span class="fontsize-card-header"><i class="fas fa-badge-check fa-lg"></i> Payment Verified</span>
                        <div>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div class="col-lg-2">
            
        </div>
    </div><!--row-->
</div>

