<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-3 h-100 mx-auto d-none d-lg-block">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-lg-9 h-100">
            <!-- Get-started -->
            <div class="container-fluid backGround-color">
                <div class="card justify-content-center mx-auto shadow-lg">
                    <div class="card-header get-started-title">
                        <!-- <h3>Get Started</h3> -->
                        <img src="../../../../../assets/images/create-profile-getStarted.png" alt="Create Account"
                            class="w-100">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Join Upwork as a freelancer</h4>
                        <p class="card-text text-muted pg-desc-getStarted">Thanks for your interest in Upwork!
                            As the world’s largest talent platform, we connect millions of
                            businesses with independent professionals like you.
                        </p>
                        <p class="card-text text-muted pg-desc-getStarted">To get started, all you need to do is
                            fill out a profile.</p>
                        <br>
                        <a routerLink="/freelancer/expertise" class="btn btn-success fill-out-btn ml-5 float-right">Continue</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>
            