p {
  margin-bottom: 0;
}

.background-badge {
  background-color: rgb(212, 212, 212);
}

.text-color {
  color: #37a000;
}

.header-link-jobs:visited,
.header-link-jobs:link,
.header-link-jobs:active {
  color: #37a000;
}

.submit-btn-color {
  background-color: #37a000;
}

.header-link-jobs:hover {
  color: #37a000;
  text-decoration: underline;
}

.btn-outline-color {
  border: 1px solid #b9b9b9
}

.btn-outline-color:hover {
  background-color: #e0e0e0
}
