p {
  margin-bottom: 0;
}

.background-badge {
  background-color: #336278;
  color: white;
  border-radius: 30px;
}

.background-badge:hover {
  border: #336278 1px solid;
  color: #336278;
  background-color: gainsboro;
}

.text-color {
  color: #37a000;
}

.header-link-jobs:visited,
.header-link-jobs:link,
.header-link-jobs:active {
  color: #37a000;
}

.submit-btn-color {
  background-color: #37a000;
}

.header-link-jobs:hover {
  color: #37a000;
  text-decoration: underline;
}

.btn-outline-color {
  border: 1px solid #b9b9b9
}

.btn-outline-color:hover {
  background-color: #e0e0e0
}
