<div class="container backGround-color pb-5 pt-5">
  <div class="alert alert-success w-75 mb-5 border border-success" role="alert" *ngIf="isSubmitted">
    <span>You already submitted a proposal for this job</span>
  </div>
  <div class="alert alert-danger w-75 mb-5" role="alert" *ngIf="job.Status === 'Done'">
    <span>This job is Expired, go ahead and look for new jobs
      <a routerLink="/freelancer/profile">here</a></span>
  </div>
  <div class="row no-gutters mx-auto mb-2">
    <strong class="h3 font-weight-bold"> Job Details</strong>
  </div>
  <div class="row">
    <div class="card justify-content-center shadow-md col-sm-12 col-lg-8">
      <div class="card-header get-started-title" style="background-color: transparent">
        <div class="row p-1">
          <p class="h4">{{ job.Name }}</p>
        </div>
        <hr />
        <div>
          <a class="text-color">{{ job.Category }}</a>
        </div>
        <small>Posted At {{ createdAt }}</small>
        <div class="pt-2">
          <i class="fas fa-map-marker-alt text-dark"></i><span aria-hidden="true">
            {{ job.Country ? job.Country : "Worldwide" }}</span>
        </div>
        <small class="text-secondary">
          Required Connects: {{ job.ConnectsNeeded }}
        </small>
        <hr />
        <div>
          <p>
            {{ job.Description }}
          </p>
        </div>
        <hr />
        <div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="row">
                <div class="col-lg-1">
                  <i class="fas fa-coins mr-2"></i>
                </div>
                <div class="col-lg-9">
                  <strong>${{ job.Price }}.00</strong><br />
                  <small class="text-secondary">Fixed Price</small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="row">
                <div class="col-lg-1">
                  <i class="fas fa-toolbox mr-2"></i>
                </div>
                <div class="col-lg-9">
                  <strong>{{ job.JobType }}</strong><br />
                  <small class="text-secondary">Project Type</small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="row">
                <div class="col-lg-1">
                  <i class="far fa-clock mr-2"></i>
                </div>
                <div class="col-lg-9">
                  <strong>{{ job.Duration }}</strong><br />
                  <small class="text-secondary">Project Duration</small>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <div class="row">
                <div class="col-lg-1">
                  <i class="fas fa-brain mr-2"></i>
                </div>
                <div class="col-lg-9">
                  <strong>{{ job.ExpertiseLevel }}</strong><br />
                  <small class="text-secondary">Experience level</small>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div>
            <p><strong>Weekly Hours Required: </strong>{{ job.WeeklyHoursRequired }}</p>
          </div>
          <hr />
          <div>
            <h5>Skills and Expertise</h5>
            <div *ngFor="let skill of job.Skills" class="mb-2 float-left">
              <a routerLink="/job/search/{{ skill }}"
                class="badge background-badge ml-2 p-2 rounded-pill">{{ skill }}</a>
            </div>
            <br />
            <hr />
            <div>
              <h5>Activity on this job</h5>
              <p class="text-secondary pb-2">
                Proposals:
                <span class="text-dark">{{ proposals ? proposals : 0 }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-md col-sm-12 col-lg-3">
      <div *ngIf="!isSubmitted">
        <div class="my-3 mx-auto">
          <a routerLink="apply" *ngIf="job.Status != 'Done'">
            <button type=" button" [disabled]="freelancer.Connects < job.ConnectsNeeded"
              class="btn submit-btn-color w-100 my-2 text-white font-weight-bold">
              Submit a Proposal
            </button>
          </a>
          <button type="button" class="btn btn-white text-color btn-outline-color w-100 my-2 font-weight-bold"
            (click)="isSaved ? removeFromSaved() : addToSaved()">
            <i class="far fa-heart mr-2" [ngClass]="{ fas: isSaved }"></i>{{ isSaved ? "Saved" : "Save Job" }}
          </button>
          <p class="py-2 text-muted">
            <span>Required Connects to submit a proposal:
              <b>{{ job.ConnectsNeeded }}</b></span>
          </p>
          <h6 class="text-muted">
            Available Connects: <b>{{ freelancer.Connects }}</b>
          </h6>
          <hr />
        </div>
      </div>
      <div class="pt-3">
        <h5>About the client</h5>
        <div>
          <span class="pb-2">Rating:</span>

          <span class="ml-2">
            <span class="fa fa-star text-color"></span>
            <span class="fa fa-star text-color"></span>
            <span class="fa fa-star text-color"></span>
            <span class="fa fa-star text-color"></span>
            <span class="fa fa-star text-color"></span>
          </span>
        </div>
        <div>
          <p class="py-2">
            <strong>{{ job.Country }}</strong>
          </p>
          <div class="pb-2">
            <strong>Jobs posted</strong>
            <p class="text-secondary pb-2">
              {{ client.Jobs.length }} Jobs​​​​​​</p>
          </div>
          <div class="pb-2">
            <strong>Total Spents</strong>
            <p class="text-secondary pb-2">
              ${{ client.Spent ? client.Spent.toFixed(2) : 0 }}​​​​​​</p>
          </div>
          <div class="pb-2">
            <strong>From</strong>
            <p class="text-secondary pb-2">
              {{ client.Country }}​​​​​​</p>
          </div>
          <div class="pb-2">
            <strong>Member since</strong>
            <p class="text-secondary pb-2">
              {{
                client.createdAt ? client.createdAt.slice(0, 10) : 0
              }}​​​​​​</p>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="clientJobs.length > 0" class="mt-3 card justify-content-center shadow-md col-sm-12 col-lg-11">
      <div class="card-header" style="background-color: transparent">
        <div class="col-md-12 p-2">
          <p class="h2">Client's recent history</p>
        </div>
      </div>

      <div *ngFor="let job of clientJobs; let currentIndex = index">
        <div *ngIf="currentIndex >= clientJobs.length - 5" class="card-body mb-1 p-4">
          <p class="card-title h5">
            <a routerLink="/job/{{ job._id }}" class="header-link-jobs">
              {{ job.Name }}
            </a>
          </p>
          <!-- </div> -->

          <div class="mb-1">
            <span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
            </span>

            <span>Ariel is a joy to work with. I highly recommended her to anyone
              gets the opportunity to work together. Thank you
            </span>
          </div>

          <div>
            <span>To freelancer: </span>

            <a routerLink="/freelancer/{{ job.HiredTalent }}" class="header-link-jobs">
              Mukash {{ job.TalentUserName }}
            </a>

            <span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
              <span class="fa fa-star text-color"></span>
            </span>

            <span> Amazing Experience! Very fast and great knowledge.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
