<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-3 h-100 mx-auto">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-lg-9 h-100">

            <!-- languages -->
            <div class="container-fluid backGround-color pb-5">
                <div class="card justify-content-center mx-auto shadow-lg" >
                    <div class="card-header get-started-title" style="background-color: transparent;">
                        <h2>Languages</h2>
                        <h5 class="text-muted">4 of 9</h5>
                    </div>
                    <div class="card-body mb-2">
                        <h4 class="card-title">What is your English proficiency?</h4>
                        <form [formGroup]="formGroup">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"></label>
                                <select formControlName="Language" class="form-control fs-categories" id="exampleFormControlSelect1">
                                    <option disabled selected>English proficiency</option>
                                    <option>Basic</option>
                                    <option>Conversational</option>
                                    <option>Fluent</option>
                                    <option>Native or Bilingual</option>
                                </select>
                                <div *ngIf ="formGroup.controls['Language'].invalid && (formGroup.controls['Language'].touched ||  formGroup.controls['Language'].dirty)">
                                    <small class="form-text text-danger" *ngIf="formGroup.controls['Language'].hasError('required')">Required Language</small>
                                </div>

                            </div>
                            <!-- Add anther language -->
                            <div class="form-row mt-5">
                                <div class="form-group col-md-5" *ngIf="HaveAntherLanguage">
                                    <label for="exampleFormControlSelect2"  class="selectOptions-fontSize-form">Language</label>
                                    <select class="form-control fs-categories" id="exampleFormControlSelect2">
                                        <option disabled selected>Select Language</option>
                                        <option>Arabic</option>
                                        <option>Italian</option>
                                        <option>French</option>
                                        <option>German</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6" *ngIf="HaveAntherLanguage">
                                    <label for="exampleFormControlSelect3" class="selectOptions-fontSize-form">Proficiency</label>
                                    <select class="form-control fs-categories" id="exampleFormControlSelect3">
                                        <option disabled selected>Select proficiency</option>
                                        <option>Basic</option>
                                        <option>Conversational</option>
                                        <option>Fluent</option>
                                        <option>Native or Bilingual</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-1 justify-content-center mt-5" *ngIf="HaveAntherLanguage">
                                    <span class="my-auto mx-auto"><i class="fas fa-trash fa-lg"></i></span>
                                </div>

                            </div>
                            <div class="mt-2">
                                <h4 class="card-title">What other languages do you speak?</h4>
                                <a routerLink="#" class="btn btn-success back-btn float-left mt-4" (click)="addAntherLanguage()">
                                    <i class="fas fa-plus fa-lg mr-2"></i>Add Language
                                </a>
                            </div>
                            
                        </form>
                        <br>
                        
                    </div>
                    <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
                        <a routerLink="/freelancer/expertiselevel" class="btn btn-success back-btn1 float-left mt-3">Back</a>
                        <!-- <a routerLink="/freelancer/hourlyrate" class="btn btn-success fill-out-btn float-right mt-3">Next</a> -->
                        <a routerLink="/freelancer/hourlyrate">
                            <button [disabled]="formGroup.invalid" type="button" class="btn btn-success fill-out-btn float-right mt-3" (click)="storeData()">Next</button>
                        </a>
                    </div>
                </div>
            </div>



        </div>
        
    </div>
</div>

