<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="mt-4">
          <button type="button" class="end-contract btn btn-success py-1 px-5">
            End Contract
          </button>
          <!-- </div> -->
          <div class="row">
            <div class="col-md-2 col-xs-12 ml-2 mb-2">
              <img src="" alt="" class="img-responsive" />
            </div>

            <div class="col-md-4 col-xs-12 ml-2">
              <h6 class="name"></h6>

              <p class="hint text-muted">
                <b></b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
