<div class="container-fluid backGround-color pb-5">
    <div class="card justify-content-center mx-auto shadow-lg" >
        <div class="card-header get-started-title" style="background-color: transparent;">
            <h2>Employment</h2>
            <h5 class="text-muted">5 of 11</h5>
        </div>
        <div class="card-body mb-2">
            <h4 class="card-title">Add your past work experience</h4>
            <p class="card-text pg-employment">Build your credibility by showcasing the projects or jobs you have completed.</p>
            <a href="#" class="btn btn-success back-btn float-left mt-4"><i class="fas fa-plus fa-lg mr-3"></i>Add Employment</a>
        </div>
        <a routerLink="/freelancer/languages" class="ml-4 skip-education">Skip this step</a>
        <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
            <a routerLink="/freelancer/education" class="btn btn-success back-btn float-left mt-3">Back</a>
            <a routerLink="/freelancer/languages" class="btn btn-success fill-out-btn float-right mt-3">Next</a>
        </div>
    </div>
</div>

