<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-3 h-100 mx-auto">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-lg-9 h-100">

            <!-- location -->
            <div class="container-fluid backGround-color pb-5">
                <div class="card justify-content-center mx-auto shadow-lg" >
                    <div class="card-header get-started-title" style="background-color: transparent;">
                        <h2>Location</h2>
                        <h5 class="text-muted">8 of 9</h5>
                    </div>
                    <div class="card-body mb-2">
                        <div class="mt-2">
                            <h4 class="card-title">Where are you based?</h4>
                            <p class="card-text pg-desc-location">We take your privacy very seriously. Only your country will be shown to clients.</p>
                        </div>
                        <div class="form-row mt-5">
                            <div class="form-group col-md-6 col-lg-6">
                                <label for="inputState" class="pg-desc-location ml-2">Country</label>
                                <select id="inputState" class="form-control" style="font-size: 15px;">
                                    <option selected>Egypt</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                    <option>American Samoa</option>
                                    <option>Andorra</option>
                                    <option>Angola</option>
                                    <option>Anguilla</option>
                                    <option>Argentina</option>
                                    <option>Armenia</option>
                                    <option>Aruba</option>
                                    <option>Australia</option>
                                    <option>Azerbaijan</option>
                                    <option>Bahamas</option>
                                    <option>Bahrain</option>
                                    <option>Bangladesh</option>
                                    <option>Barbados</option>
                                    <option>Belarus</option>
                                    <option>Belgium</option>
                                    <option>Belize</option>
                                    <option>Benin</option>
                                    <option>Bermuda</option>
                                    <option>Bhutan</option>
                                    <option>Bolivia</option>
                                    <option>Botswana</option>
                                    <option>Brazil</option>
                                    <option>British</option>
                                    <option>Bulgaria</option>
                                    <option>Burundi</option>
                                    <option>Cambodia</option>
                                    <option>Cameroon</option>
                                    <option>Canada</option>
                                    <option>Cape Verde</option>
                                    <option>Cayman Islands</option>
                                    <option>Central Africa</option>
                                    <option>Chad</option>
                                    <option>Chile</option>
                                    <option>Chine</option>
                                    <option>Christmas Island</option>
                                    <option>Cocos Islands</option>
                                    <option>Colombia</option>
                                    <option>Denmark</option>
                                    <option>Djibouti</option>
                                    <option>Dominica</option>
                                    <option>Estonia</option>
                                    <option>Eritrea</option>
                                    <option>Estonia</option>
                                    <option>France</option>
                                    <option>Fiji</option>
                                    <option>Gabon</option>
                                    <option>Gambia</option>
                                    <option>Georgia</option>
                                    <option>Germany</option>
                                    <option>Ghana</option>
                                    <option>Greece</option>
                                    <option>Guam</option>
                                    <option>Guinea</option>
                                    <option>Haiti</option>
                                    <option>Italy</option>
                                    <option>Ireland</option>
                                    <option>Israel</option>
                                    <option>Japan</option>
                                    <option>Jordan</option>
                                    <option>Jersey</option>
                                    <option>Kuwait</option>
                                    <option>Kenya</option>
                                    <option>Lebanon</option>
                                    <option>Lesotho</option>
                                    <option>Macao</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="ml-4 mt-5 skip-location">Skip this step</a> -->
                    <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
                        <a routerLink="/freelancer/profilephoto" class="btn btn-success back-btn1 float-left mt-3">Back</a>
                        <a routerLink="/freelancer/phone" class="btn btn-success fill-out-btn float-right mt-3">Next</a>
                        <!-- <a routerLink="/freelancer/phone">
                            <button [disabled]="formGroup.invalid" type="button" class="btn btn-success fill-out-btn float-right mt-3">Next</button>
                        </a> -->
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

