<div class="container-fluid backGround-color pb-5 pt-5">
  <div class="row no-gutters justify-content-center mx-auto w-70">
    <div class="col-lg-3 h-100 mx-auto d-none d-lg-block">
      <a routerLink="/freelancer/getstarted">
        <div class="row w-100 m-0 pt-2 pb-2 " routerLinkActive="active">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-arrow-up fa-lg"></i></div>
          <div class="col-lg-8 p-0">Get Started</div>
          <!-- <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"></i></div> -->
        </div>
      </a>

      <a routerLink="/freelancer/expertise">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="far fa-id-badge fa-lg"></i></div>
          <div class="col-lg-8 p-0">Expertise</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.expertiseLevel}"></i>
          </div>
        </div>
      </a>
      <a routerLink="/freelancer/expertiselevel">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.expertiseLevel}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="far fa-chart-bar fa-lg"></i></div>
          <div class="col-lg-8 p-0">Expertise Level</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.languages}"></i></div>
        </div>
      </a>
      <a routerLink="/freelancer/languages">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.languages}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-microphone fa-lg"></i></div>
          <div class="col-lg-8 p-0">Languages</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.hourlyRate}"></i></div>
        </div>
      </a>

      <a routerLink="/freelancer/hourlyrate">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.hourlyRate}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-dollar-sign fa-lg"></i></div>
          <div class="col-lg-8 p-0">Hourly Rate</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.titleOverview}"></i></div>
        </div>
      </a>

      <a routerLink="/freelancer/titleoverview">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.titleOverview}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-user-md fa-lg"></i></div>
          <div class="col-lg-8 p-0">Title &Overview</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.profilePhoto}"></i></div>
        </div>
      </a>

      <a routerLink="/freelancer/profilephoto">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.profilePhoto}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="far fa-id-card fa-lg"></i></div>
          <div class="col-lg-8 p-0">Profile Photo</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.location}"></i></div>
        </div>
      </a>

      <a routerLink="/freelancer/location">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.location}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-map-marker-alt fa-lg"></i></div>
          <div class="col-lg-8 p-0">Location</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.phone}"></i></div>
        </div>
      </a>

      <a routerLink="/freelancer/phone">
        <div class="row w-100 m-0 pt-2 pb-2" routerLinkActive="active"
          [ngClass]="{'disabled-sidebar-item': !completedData.phone}">
          <div class="col-lg-1 p-0"></div>
          <div class="col-lg-2 p-0"><i class="fas fa-phone fa-lg"></i></div>
          <div class="col-lg-8 p-0">Phone</div>
          <div class="col-lg-1 p-0"><i class="fas fa-check-circle correct-icon-color"
              [ngClass]="{'text-muted': !completedData.review}"></i></div>
        </div>
      </a> </div>

    <div class="col-lg-9 h-100">
      <!-- title and overview -->
      <div class="container-fluid backGround-color pb-5">
        <div class="card justify-content-center mx-auto shadow-lg">
          <div class="card-header get-started-title" style="background-color: transparent;">
            <h4>Title & Overview</h4>
            <h6 class="text-muted">6 of 9</h6>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a
                href="https://www.upwork.com/resources/9-tips-create-freelancer-profile-stands-out" target="_blank"
                style="color:#37A000 ;">Learn More</a> about writing a great profile or browse profiles in your
              category.</h5><br>
            <!-- <span class="card-text pg-desc-titleOverview">Title</span> -->
            <form [formGroup]="formGroup">
              <div class="form-group">
                <label for="exampleFormControlTitle" class="pg-desc-titleOverview">Title</label>
                <span class="ml-4" style="color: #37A000;"><i class="fas fa-question-circle fa-lg"></i></span>
                <input formControlName="Title" type="email" class="form-control input-desc-titleOverview"
                  id="exampleFormControlTitle" placeholder="Example: Web, Mobile & Software Dev">
                <div
                  *ngIf="formGroup.controls['Title'].invalid && (formGroup.controls['Title'].touched ||  formGroup.controls['Title'].dirty)">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Title'].hasError('required')">Required
                    Title</small>
                </div>
              </div>
              <div class="form-group mt-5">
                <label for="exampleFormControlTextarea1" class="pg-desc-titleOverview">Professional Overview</label>
                <span class="ml-4" style="color: #37A000;"><i class="fas fa-question-circle fa-lg"></i></span>
                <textarea formControlName="ProfessionalOverview" class="form-control textarea-desc-titleOverview"
                  #inputCharacter (keyup)="countCharacters(inputCharacter.value)" maxlength="5000"
                  id="exampleFormControlTextarea1" rows="3"
                  placeholder="Highlight your top skills, experience, and interests. This is one of the first things clients will see on your profile."></textarea>
                <div
                  *ngIf="formGroup.controls['ProfessionalOverview'].invalid && (formGroup.controls['ProfessionalOverview'].touched ||  formGroup.controls['ProfessionalOverview'].dirty)">
                  <small class="form-text text-danger" *ngIf="formGroup.controls['Title'].hasError('required')">Required
                    Professional Overview</small>
                </div>
                <span class="float-right textarea-titleOverview">{{remaningCharacters}} characters left</span>
              </div>
            </form>
          </div>
          <!-- <a routerLink="/freelancer/profilephoto" class="ml-4 skip-titleOverview">Skip this step</a> -->
          <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
            <a routerLink="/freelancer/hourlyrate" class="btn btn-success back-btn float-left mt-3">Back</a>
            <!-- <a routerLink="/freelancer/profilephoto" class="btn btn-success fill-out-btn float-right mt-3">Next</a> -->
            <a routerLink="/freelancer/profilephoto">
              <button [disabled]="formGroup.invalid" type="button" class="btn btn-success fill-out-btn float-right mt-3"
                (click)="storeData()">Next</button>
            </a>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
