.active {
  border-left: gainsboro 1px solid;
}

.font-weight {
  font-weight: bold;
  font-size: 17px;
}

.background-badge {
  background-color: #336278;
  border-radius: 30px;
}

.text-color {
  color: #37a000;
}


.my-btn,
.submit-btn:hover {
  color: #37A000;
  border: #37A000 solid 1px;
  background-color: transparent;
  /* font-size: 15px; */
}


.my-btn:hover,
.submit-btn {
  color: white;
  border: #37A000 solid 1px;
  background-color: #37A000;
}
