<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-3 h-100 mx-auto d-none d-lg-block">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-lg-9 h-100">
            <!-- hourly rate -->
            <div class="container-fluid backGround-color pb-5">
                <div class="card justify-content-center mx-auto shadow-lg" >
                    <div class="card-header get-started-title" style="background-color: transparent;">
                        <h4>Hourly Rate</h4>
                        <h6 class="text-muted">5 of 9</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-title heading-HourlyRate">Clients will see this rate on your profile and in search results once you publish your profile. 
                            You can adjust your rate every time you submit a proposal.
                        </p><br>
                
                        <!-- Hourly rate -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 mt-3">
                                <h5>Hourly Rate</h5>
                                <p class="text-muted pg-HourlyRate">Total amount the client will see</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <form [formGroup]="formGroup">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <div class="input-group mt-3 w-100 h-100">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class="fas fa-dollar-sign fa-lg border-right-0"></i></span>
                                                </div>
                                                <input formControlName="HourlyRate" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="10.00" #inputHourlyRate (keyup)="totalMoney(inputHourlyRate.value)">
                                                <div *ngIf="formGroup.controls['HourlyRate'].invalid && (formGroup.controls['HourlyRate'].touched ||  formGroup.controls['HourlyRate'].dirty)">
                                                    <small class="form-text text-danger" *ngIf="formGroup.controls['HourlyRate'].hasError('required')">Required Hourly Rate</small>
                                                    <small class="form-text text-danger" *ngIf="formGroup.controls['HourlyRate'].hasError('minlength')">Min Value is 5</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> <!--row-->
                        <hr>
                        
                        <!-- Upwork Service Fee  -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 mt-3">
                                <h5>Upwork Service Fee</h5>
                                <p class="text-muted pg-HourlyRate">The Upwork Service Fee is 20% when you begin a contract with a new client.
                                    Once you bill over $500 with your client, the fee will be 10%.
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <form>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <div class="input-group mt-3 w-100 h-100">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class="fas fa-dollar-sign fa-lg border-right-0"></i></span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" disabled value="{{deductedAmount}}" >
                                                <!-- <p class="mt-1 ml-3 pg-HourlyRate">/hr</p> -->
                                            </div>
                                            <!-- <div class="mt-5 w-100 h-100">
                                                <span class="bg-transparent ml-2"><i class="fas fa-dollar-sign fa-lg border-right-0"></i></span>
                                                <span class="ml-4 pg-HourlyRate">-0.00</span>
                                                <span class="ml-3 ml-3 pg-HourlyRate">/hr</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!--row-->
                        
                        <hr>

                        <!-- You'll receive -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 mt-3">
                                <h5>You'll receive</h5>
                                <p class="text-muted pg-HourlyRate">The estimated amount you'll receive after service fees</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <form>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <div class="input-group mt-3 w-100 h-100">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent"><i class="fas fa-dollar-sign fa-lg border-right-0"></i></span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" disabled placeholder="{{inputMoney}}" >
                                                <!-- <p class="mt-1 ml-3 pg-HourlyRate">/hr</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> <!--row-->
                        
                        <hr>

                        <div class="row m-2" style="background-color: #f9f9f9;">
                            <div class="col-lg-7 col-md-6 col-xs-12 mt-3">
                                <h6>Upwork service fees can be as low as 5%</h6>
                            </div>
                            <div class="col-lg-5 col-md-6 col-xs-12">
                                <img src="../../../../../assets/images/hourlyrate.svg" alt="Rates" class="ml-5" style="width: 60%;">
                            </div>
                        </div> <!--row-->
                    </div>
                    <a routerLink="/freelancer/titleoverview" class="ml-4 skip-hourlyRate">Skip this step</a>
                    <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
                        <a routerLink="/freelancer/languages" class="btn btn-success back-btn float-left mt-3">Back</a>
                        <!-- <a routerLink="/freelancer/titleoverview" class="btn btn-success fill-out-btn float-right mt-3">Next</a> -->
                        <a routerLink="/freelancer/titleoverview">
                            <button [disabled]="formGroup.invalid" type="button" class="btn btn-success fill-out-btn float-right mt-3" (click)="storeData()">Next</button>
                        </a>
                    </div>
                </div>
            </div>




        </div>
        
    </div>
</div>

