<div class="card mb-4 p-4">
  <div class="card-header bg-white">
    <h3>{{ title }}</h3>
  </div>
  <div class="card-body">
    <i class="fas fa-pen text-right text-muted" [routerLink]="route"></i>

    <h4>{{ subtitle1 }}</h4>
    <p class="plain-text">{{ content1 }}</p>

    <h4>{{ subtitle2 }}</h4>
    <p class="plain-text">{{ content2 }}</p>

    <h4>{{ subtitle3 }}</h4>
    <p class="plain-text">{{ content3 }}</p>

    <h4>{{ subtitle4 }}</h4>
    <p class="plain-text">{{ content4 }}</p>

    <h4>{{ subtitle5 }}</h4>
    <p class="plain-text">{{ content5 }}</p>
  </div>
</div>
