.header-color{
    background-color: #1D4354 !important;
}
.navbar{
    margin-bottom: 0 !important;
}
.navbar-list-color{
    color: white;
}
.navbar-list-color:hover{
    text-decoration: none;
    color: #37a000;
}
.img-width{
    width:13%;
}
.spinner-container{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 999;
}
@media (max-width:575px) {
    .img-width{
        width: 20%;
    }
}
@media (min-width:576px) and (max-width:767px){
    .img-width{
        width: 20%;
    }
}
@media(min-width:768px) and (max-width:920px){
    .img-width{
        width: 17%;
    }
}
@media(min-width:921px) and (max-width:1200px) {
    .img-width{
        width: 15%;
    }
}