<!-- start nav in signup page for freelancer and client-->
<!-- <nav class="navbar navbar-expand-lg header-color" >
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/upwork-logo.png" alt="Upwork Logo" style="width: 10%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <img src="../../../../../assets/images/avatar.png" class="ml-3" style="height: 50px !important;width: 50px !important; border-radius: 50%; object-fit: cover;" />
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- end nav in signup page for freelancer and client-->

<!-- start nav in the landing page of the upwork -->
<nav class="navbar navbar-expand-lg header-color">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/images/upwork-logo.png"
        alt="Upwork Logo"
        class="img-width"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto" *ngIf="isVisited">
          <li class="mr-3 mt-3">
            <a href="#" class="font-weight-bold navbar-list-color">Jobs</a>
          </li>
          <li class="mr-3 mt-3">
            <a href="#" class="font-weight-bold navbar-list-color">Proposals</a>
          </li>
          <li class="mr-3 mt-3">
            <a href="#" class="font-weight-bold navbar-list-color">Profile</a>
          </li>
          <li class="nav-item active">
            <img
              src="../../../../../assets/images/avatar.png"
              class="ml-3"
              style="
                height: 50px !important;
                width: 50px !important;
                border-radius: 50%;
                object-fit: cover;
              "
            />
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center">
  <div
    *ngIf="spinnerService.isLoading | async"
    class="spinner-border spinner-container"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- end nav in the landing page of the upwork -->
