<div class="container-fluid backGround-color pb-5 pt-5">
  <div class="row no-gutters justify-content-center mx-auto w-70">
    <!-- Review Profile -->
    <div class="container-fluid backGround-color pb-5">
      <!-- First Card -->
      <div class="card justify-content-center mx-auto shadow-lg w-75">
        <div class="card-body">
          <div class="media p-3">
            <img
              [src]="profilePhotoData.url"
              alt="Profile Photo"
              class="mr-3 rounded-circle"
              style="
                height: 100px !important;
                width: 100px !important;
                border-radius: 50%;
                object-fit: cover;
              "
            />
            <div class="media-body">
              <h4>
                {{ getNameOfTheFreeelancer.FirstName }}
                {{ getNameOfTheFreeelancer.LastName }}
              </h4>
              <span class="fontsize-location ml-2"
                ><i class="fas fa-map-marker-alt fa-lg pr-3"></i
                >{{ locationData.country }}</span
              >
            </div>
          </div>
          <div class="p-3">
            <!-- Main Services -->
            <h5>
              {{ expertiseData.mainService
              }}<i class="fas fa-pen ml-2 circle-icon p-2"></i>
            </h5>
          </div>
          <div class="p-3">
            <!-- Title & OverView -->
            <span class="fontsize-location"
              >{{ TitleOverviewData.overview
              }}<i class="fas fa-pen ml-2 circle-icon p-2"></i
            ></span>
          </div>
          <div class="p-3">
            <!-- Hourly Rate -->
            <h5 class="bold-hourlyRate fontsize-reviewProfile">
              $ {{ HourlyRateData.hourlyRate
              }}<i class="fas fa-pen ml-2 circle-icon p-2"></i>
            </h5>
            <span class="fontsize-reviewProfile-desc">Hourly Rate</span>
          </div>
        </div>
      </div>
      <br /><br />

      <!--Second Card Skills -->
      <div class="card justify-content-center mx-auto shadow-lg w-75">
        <div
          class="card-header bg-transparent fontSize-skills p-3 fontsize-reviewProfile-title fontsize-reviewProfile-title"
        >
          Skills<i class="fas fa-pen ml-2 circle-icon p-2 float-right"></i>
        </div>
        <div class="card-body fontsize-reviewProfile-desc">
          {{ expertiseData.mainSkills }}
        </div>
      </div>

      <br /><br />
      <!--Third Card Location -->
      <div class="card justify-content-center mx-auto shadow-lg w-75">
        <div
          class="card-header bg-transparent fontSize-skills p-3 fontsize-reviewProfile-title"
        >
          Location<i class="fas fa-pen ml-2 circle-icon p-2 float-right"></i>
        </div>
        <div class="card-body fontsize-reviewProfile-desc">
          {{ locationData.country }}
        </div>
      </div>

      <br /><br />
      <!--Fourth Card Languages -->
      <div class="card justify-content-center mx-auto shadow-lg w-75">
        <div
          class="card-header bg-transparent fontSize-skills p-3 fontsize-reviewProfile-title"
        >
          Languages<i class="fas fa-pen ml-2 circle-icon p-2 float-right"></i>
        </div>
        <div class="card-body">
          <span class="fontsize-reviewProfile-desc"
            >English, {{ LanguageData.language }}</span
          >
          <!-- <span> Arabic, Native or Bilingual</span> -->
        </div>
      </div>
    </div>
    <div class="mt-3">
      <!-- <a routerLink="/freelancer/profile">
            </a> -->
      <button
        type="button"
        class="btn btn-success fill-out-btn float-right"
        (click)="submitData()"
      >
        Submit Profile
      </button>
    </div>
  </div>
</div>
