.login-btn{
    background-color: #37A000; 
    font-size: 15px;
    font-weight: bold;
}
.w-70{
    width:70%;
}
.backGround-color {
    background-color: #ebebeb;
}
.background-badge {
    background-color: #336278;
    border-radius: 30px;
}
.fs-categories{
    font-size: 15px;
}
.fontsize-location{
    font-size:15px;
}
.circle-icon {
    border-radius: 50%;
    border: 1px solid #6c757d;
}
.bold-hourlyRate{
    font-weight: bold;
}
.fontSize-skills{
    font-weight: bold;
}
.fill-out-btn{
    background-color: #37A000; 
    font-size: 15px;
}
.fontsize-reviewProfile-desc{
    font-size: 15px;
}
.fontsize-reviewProfile-title{
    font-size: 16px;
}