<div class="card-body">
  <div class="row">
    <p class="col-xs-12">
      <a class="plain-text text-bold" href="">{{ PostTitle | someText }}</a>
    </p>
    <p class="col-xs-12 plain-text text-muted">{{ priceType }}</p>
  </div>
  <div class="row">
    <p class="col-xs-4 sub-title text-success">{{ viewsNumber }}</p>
    <p class="col-xs-4 sub-title">{{ messagesNumber }}</p>
    <p class="col-xs-4 sub-title">{{ hiredNumber }}</p>
  </div>

  <div class="row">
    <p class="col-xs-4 plain-text text-muted">Proposals</p>
    <p class="col-xs-4 plain-text text-muted">Messaged</p>
    <p class="col-xs-4 plain-text text-muted">Hired</p>
  </div>
</div>
