<div class class="ml-5 card-body">
  <div class="row">
    <div class="col-md-2 col-xs-12">
      <img src="{{ image }}" alt="" class="img-responsive" />
    </div>

    <div class="col-md-4 col-xs-12 ml-1">
      <h6 (click)="visitFreelancer(userName)">{{ freelancerName }}</h6>
      <p>{{ jobTitle }}</p>
    </div>

    <!-- <div class="col-md-2 offset-md-2 btns">
      <button type="button" class="btn btn-success py-1">Hire</button>
    </div> -->
  </div>

  <div classs="row">
    <div class="col-md-8 offset-md-2">
      <p>
        {{ coverLetter }}
      </p>
    </div>
  </div>
  <hr />
</div>
