<!-- <p>title works!</p> -->
<section class="mt-4 mb-4 ml-3">
  <!-- get-stated -->
  <div class="px-0">
    <!-- <div> -->
    <form [formGroup]="startForm">
      <!--  -->

      <div class="card">
        <div class="card-body mb-5">
          <header>
            <p class="main-title">Get started</p>
            <p class="hint text-muted ml-2">Step 1 to 7</p>

            <hr />
          </header>
          <!-- job name -->
          <div class="form-group mb-5">
            <label for="job_name" class="sub-title"
              >Enter the name of your job post</label
            >
            <input
              type="text"
              class="form-control w-50"
              name="job_name"
              formControlName="JobName"
              [(ngModel)]="jobName"
            />

            <p class="m-1 hint">ex : Web design</p>
            <div
              *ngIf="
                (startForm.invalid && startForm.controls['JobName'].touched) ||
                startForm.controls['JobName'].touched
              "
            >
              <div *ngIf="startForm.controls['JobName'].hasError('required')">
                <app-error-message message="required"></app-error-message>
              </div>
            </div>
          </div>

          <p class="mb-3 sub-title">Job category</p>
          <p class="mb-3 hint">
            Let's categorize your job. Here are some suggestions based on your
            job title:
          </p>

          <div class="form-froup">
            <input
              type="radio"
              name="option"
              id="option1"
              formControlName="option"
              value="Web, Mobile & Software Dev"
              [(ngModel)]="category"
            />
            <label for="option1" class="h5 plain-text ml-2"
              ><span> Web, Mobile & Software Dev</span></label
            >
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option3"
              formControlName="option"
              value="Data Science & Analytics"
              [(ngModel)]="category"
            />
            <label for="option3" class="h5 plain-text ml-2"
              >Data Science & Analytics</label
            >
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option4"
              formControlName="option"
              value="IT & Networkingt"
              [(ngModel)]="category"
            />
            <label for="option4" class="h5 plain-text ml-2"
              >IT & Networking</label
            >
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option4"
              formControlName="option"
              value="Admin Support"
              [(ngModel)]="category"
            />
            <label for="option4" class="h5 plain-text ml-2"
              >Admin Support</label
            >
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option5"
              formControlName="option"
              value="Design & Creactive"
              [(ngModel)]="category"
            />
            <label for="option5" class="h5 plain-text ml-2"
              >Design & Creactive
            </label>
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option6"
              formControlName="option"
              value="Translation"
              [(ngModel)]="category"
            />
            <label for="option6" class="h5 plain-text ml-2">Translation </label>
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option8"
              formControlName="option"
              value="Legal"
              [(ngModel)]="category"
            />
            <label for="option8" class="h5 plain-text ml-2">Legal </label>
          </div>
          <div class="form-group my-0">
            <input
              type="radio"
              name="option"
              id="option7"
              formControlName="option"
              value="Sales & Marketing"
              [(ngModel)]="category"
            />
            <label for="option7" class="h5 plain-text ml-2"
              >Sales & Marketing
            </label>
          </div>
        </div>
      </div>
      <br />
      <!-- second card -->
      <!-- descrition -->
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="comment" class="sub-title mb-3"> Description </label>
            <textarea
              class="form-control"
              rows="6"
              id="comment"
              #descriptionInput
              (input)="wordCounter(descriptionInput.value)"
              formControlName="Description"
              [(ngModel)]="description"
            ></textarea>

            <p class="hint text-muted text-right mb-0">
              {{ wordCount }}/5000 characters (minimum 50)
            </p>
            <div
              *ngIf="
                (startForm.invalid &&
                  startForm.controls['Description'].touched) ||
                startForm.controls['Description'].touched
              "
              class="mt-0"
            >
              <div
                *ngIf="startForm.controls['Description'].hasError('required')"
              >
                <app-error-message message="required"></app-error-message>
              </div>

              <div
                *ngIf="startForm.controls['Description'].hasError('maxlength')"
              >
                <app-error-message
                  message="Too long description. Please don't exceed 5000 characters"
                ></app-error-message>
              </div>
              <div
                *ngIf="startForm.controls['Description'].hasError('minlength')"
              >
                <app-error-message
                  message="Too short description"
                ></app-error-message>
              </div>
            </div>
          </div>
          <!-- <app-error-message></app-error-message> -->

          <!-- <p class="mb-3 sub-title">Additional project files (optional)</p> -->

          <!-- additional option  -->
          <!-- <div class="form-group text-center border-dashed p-3">
            <label for="files" class="light text-muted plain-text mt-3"
              >drag or <span class="text-success">upload</span> project
              images</label
            >
            <input
              type="file"
              id="files"
              class="text-center form-control"
              hidden
              accept="image/*,.pdf"
              formControlName="AdditionalFiles"
            />
          </div>
          <p class="text-muted hint">
            You may attach up to 5 files under <b>100 MB</b> each
          </p>
          <br />
          <hr />
          <br /> -->

          <button
            type="button"
            class="btn btn-outline-green btn-lg py-2 px-5 mr-3 mt-1"
          >
            <b>Back</b>
          </button>
          <button
            type="button"
            class="btn btn-green btn-lg py-2 px-5 mt-1"
            (click)="storeData()"
            routerLink="/post-job/details"
            [disabled]="!startForm.valid"
          >
            <b>Next</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
