/* .light {
  font-weight: lighter;
  position: relative;
  bottom: 1vh;
}

.border-dashed {
  border: 2px dashed #47a815;
}

.btn-outline-gray {
  border: 1px solid #bbbcbb;
}

.main-title {
  font-size: 26px;
  font-weight: 700;
}

.sub-title {
  font-size: 15px;
  font-weight: 650;
}

.plain-text {
  font-size: 15px;
  font-weight: 444;
}

.hint {
  font-size:13px;
  font-weight: normal;
} */

#next {
  background-color: #3daa49;
  color: white;
}
