<!-- <p>home works!</p> -->

<!--Home Page(enter with your email)-->
<div class="container-fluid bg-color">
    <div class="card card-center">
        <div class="card-body mt-2">
            <h5 class="card-title card-heading">Get your free account</h5><br>
            <div class="input-group">
                <!-- <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope-o"></i> 
                    </div>
                    <input class="form-control home-input-size" id="email" name="email" type="email" placeholder="Work email address"/>
                </div> -->
                
                <input class="home-input-size" id="email" name="email" type="email" placeholder="Work email address"/>
            </div>
            <!-- <div class="input-group mb-3">  
                <div class="input-group-prepend">     
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>   
                </div>   
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div> -->
            <br><br>
            <a href="#" class="btn btn-success home-btn">Continue with Email</a>
        </div>
    </div>
</div>

<h4 class="heading-of-images">Trusted by 5M+ businesses</h4>
<div class="row mt-5 w-75 justify-content-md-center">
    <br><br>
    <div class="col-lg-2 mt-2">
        <img src="https://www.upwork.com/ab/assets/Signup/4cf03b5/bundles/upworkvscomponents/logo-bar-light/images/microsoft.svg" class="home-img" alt="Microsoft Logo"> 
    </div>
    <div class="col-lg-2 mt-4">
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c513.png" class="home-img1" alt="Airbnb Logo"> 
    </div>
    <div class="col-lg-2">
        <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/General_Electric_logo.svg/1024px-General_Electric_logo.svg.png" class="home-img2  mt-4" alt="Electric Logo"> 
    </div>
    <div class="col-lg-2">
        <img src="https://automattic.files.wordpress.com/2005/12/automattic-cmyk.png?w=1024" class="home-img3  mt-4" alt="Automattic Logo"> 
    </div>
    <div class="col-lg-2">
        <img src="https://www.pngkey.com/png/full/139-1390812_zzz-bissell-logo-bissell-spring-breeze-freshening-discs.png" class="home-img4 mt-4" alt="Bissell Logo"> 
    </div>
    <div class="col-lg-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/COTY_LOGO_SCREEN_RGB.png" class="home-img5" alt="COTY Logo"> 
    </div>
</div> <!--row-->

<div class="row mt-5 mb-5">
    <div class="container-fluid bg-media">
        <div class="col-lg-4">
            <div class="media border p-3">
                <img src="../assets/images/findJob.png" alt="Find Job" class="mr-3 mt-3 rounded-circle" style="width:90px;">
                <div class="media-body">
                  <h4 class="heading-desc ml-3">Find what you need</h4>
                  <p class="paragraph-desc ml-3">Choose from specialized freelancers and agencies with 5,000+ skills.</p>      
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="media border p-3">
                <img src="../assets/images/hire.png" alt="Post Job" class="mr-3 mt-3 rounded-circle" style="width:90px;">
                <div class="media-body">
                  <h4 class="heading-desc ml-3">Post today, hire tomorrow</h4>
                  <p class="paragraph-desc ml-3">Get custom quotes right away on terms you negotiate directly.</p>      
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="media border p-3">
                <img src="../assets/images/confidence.png" alt="Pay For This Job" class="mr-3 mt-3 rounded-circle" style="width:90px;">
                <div class="media-body">
                  <h4 class="heading-desc ml-3">Engage with confidence</h4>
                  <p class="paragraph-desc ml-3">Only pay for work you authorize, with secure billing and invoices.</p>      
                </div>
            </div>
        </div>
    </div>
</div>


