<h3>proprsal</h3>
<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div *ngFor="let p of proposals; let i = index">
        <app-proposal-card
          image="{{ p.TalentID.ImageURL }}"
          freelancerName="{{
            p.TalentID.FirstName + ' ' + p.TalentID.LastName
          }}"
          jobTitle="{{ p.TalentID.Title }}"
          coverLetter="{{ p.CoverLetter }}"
          (click)="getFreelancerProfile(p.TalentID.UserName)"
        ></app-proposal-card>
      </div>
    </div>
  </div>
</div>
