.hire,
.hired {
  position: absolute;
  right: 5%;

}
.img {
  margin-left: 12%;
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  object-fit: cover
}
.name:hover {
  color: #3daa49;
  cursor: pointer;
}


/* .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 500ms;
  /* visibility: hidden; */
  /* opacity: 0.1;
  overflow: hidden;
}  */
.hired {
  width: 75px;
  cursor: pointer;
  min-width:30px ;

}
