.hire,
.hired {
  position: absolute;
  right: 5%;
}
.img {
  /* margin-left: 12%; */
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  object-fit: cover;
}
.name:hover {
  color: #3daa49;
  cursor: pointer;
}
.hired {
  width: 75px;
  cursor: pointer;
  min-width: 30px;
  z-index: 1;
}

a {
  cursor: pointer;
}
