<div class="container my-5">
  <div class="row">
    <!-- <div class="col-md-4 offset-md-9">
      <button
        routerLink="/post-job/title"
        class="post-job btn btn-success btn-lg sub-title px-4"
      >
        Post a Job
      </button>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- post layout -->
      <div class="card p-3">
        <!-- post header -->
        <div class="card-header bg-white">
          <p class="sub-title d-inline-block">My Postings</p>
          <button
            routerLink="/post-job/title"
            class="post-job btn btn-success btn-lg sub-title px-4 mr-4"
          >
            Post a Job
          </button>
        </div>
        <!-- post content -->
        <div *ngFor="let job of jobs | reverse; let currentIndex = index">
          <app-post
            jobName="{{ job.Name }}"
            paymentType="{{ job.PaymentType }}"
            experienceLevel="{{ job.ExpertiseLevel }}"
            price="{{ job.Price }}"
            description="{{ job.Description }}"
            priceType="{{ job.PaymentType }}"
            jobId="{{ job._id }}"
          ></app-post>
          <div class="col-md-12">
            <div
              class="skills mx-2 mt-0 mb-2 text-center hint d-inline-block"
              *ngFor="let skill of job.Skills"
            >
              <app-chip skill="{{ skill }}"></app-chip>
            </div>
          </div>

          <p class="mt-2 prop" (click)="getjobProposals(job._id)">
            <i class="fas fa-circle text-green m-3"></i>
            <b class="proposals">Proposal </b>

            <b class="text-green">:</b>
            <b class="number"> {{ " " + job.Proposals.length }}</b>
          </p>
          <hr />
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 px-5">
      
      <app-slider></app-slider>
    </div> -->
  </div>
</div>
