<div class="container">
  <div class="row">
    <div class="col-md-4 align-self-end">
      <a
        routerLink="/post-job/title"
        class="btn btn-success btn-lg sub-title px-4"
        >Post a Job
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- post layout -->
      <div class="card p-3">
        <!-- post header -->
        <div class="card-header bg-white">
          <p class="sub-title d-inline-block">My Postings</p>

          <p class="d-inline-block right mt-1 mr-4">
            <a class="hint text-success" href="">All postings</a>
          </p>
        </div>
        <!-- post content -->
        <div *ngFor="let job of jobs | reverse; let currentIndex = index">
          <app-post
            jobName="{{ job.Name }}"
            paymentType="{{ job.PaymentType }}"
            experienceLevel="{{ job.ExpertiseLevel }}"
            price="{{ job.Price }}"
            description="{{ job.Description }}"
            priceType="{{ job.PaymentType }}"
            jobId="{{ job._id }}"
          ></app-post>
          <div
            class="skills mx-2 mt-0 text-center hint"
            *ngFor="let skill of job.Skills"
          >
            <app-chip skill="{{ skill }}"></app-chip>
          </div>

          <p
            class="hint text-muted mt-2 mx-2"
            (click)="getjobProposals(job._id)"
          >
            <b>Proposal : </b>1 :4
          </p>
          <hr />
        </div>
      </div>
    </div>

    <div class="col-md-4 px-5">
      <!-- slider -->
      <app-slider></app-slider>
    </div>
  </div>
</div>
