<!-- <p>side-nav works!</p> -->

<section class="side-nav">
  <!-- start -->
  <app-nave-item
    routerLink="/post-job/title"
    itemTitle="Start"
    icon="fas fa-pencil-alt ml-0"
  ></app-nave-item>
  <!-- Details -->
  <app-nave-item
    routerLink="/post-job/details"
    itemTitle="Details"
    icon="far fa-clipboard"
  ></app-nave-item>
  <!-- Budget -->
  <app-nave-item
    routerLink="/post-job/budget"
    itemTitle="Budget"
    icon="fas fa-dollar-sign mr-3"
  ></app-nave-item>
  <!-- Budget -->
  <app-nave-item
    routerLink="/post-job/review"
    itemTitle="Review"
    icon="fas fa-check"
  ></app-nave-item>
</section>

<!-- <div class=" sidenav">
  <div class="item w-50 row">
    
    <div class="col-xs-2">
        <i class="fas fa-pencil-alt mr-3 "></i>
      <a href="#" class="text-success plain-text">Title</a>
    </div>
    <div class="col-xs-2 icon">
      <i class="fas fa-check-circle text-success text-center "></i></div>
  </div>


  <div class="item w-50 row">
    
    <div class="col-xs-2">
      <i class="fas fa-list-alt mr-3"></i>
      <a href="#" class="text-success plain-text ">Detials</a>
    </div>
    <div class="col-xs-2 icon">
      <i class="fas fa-check-circle text-success"></i>
    </div>
  </div>

  <div class="item w-50 row">
    
    <div class="col-xs-2">
      <i class="fas fa-hand-holding-usd mr-3"></i>
      <a href="#" class="text-success plain-text ">Budget</a>
    </div>
    <div class="col-xs-2 icon">
      <i class="fas fa-check-circle text-success"></i>
    </div>
  </div>

  <div class="item w-50 row">
    
    <div class="col-xs-2">
      <i class="fas fa-check mr-3"></i>
      <a href="#" class="text-success plain-text ">Review</a>
    </div>
    <div class="col-xs-2 icon">
      <i class="fas fa-check-circle text-success"></i>
    </div>
  </div>


</div> -->
