.login-btn {
  background-color: #37a000;
  font-size: 15px;
  font-weight: bold;
}
.w-70 {
  width: 70%;
}
.backGround-color {
  background-color: #ebebeb;
}
.w-7{
  width: 7%;
}
.fs-categories {
  font-size: 15px;
}

.back-btn {
  color: #37a000;
  background-color: white;
  font-size: 13px;
  width: 25%;
}

.sign-up-btn {
  background-color: white;
  color: #37a000;
  font-size: 13px;
  font-weight: bold;
  width: 40%;
}
h6,
.user-type {
  display: inline-block;
}

.user-type:hover {
  color: #37a000;
}

.selected {
  color: #37a000;
}
.black {
  color: black;
}
