<div class="container-fluid backGround-color pb-5 pt-5">
    <div class="row no-gutters justify-content-center mx-auto w-70">
        <div class="col-lg-3 h-100 mx-auto">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-lg-9 h-100">

            <!-- phone -->
            <div class="container-fluid backGround-color pb-5">
                <div class="card justify-content-center mx-auto shadow-lg" >
                    <div class="card-header get-started-title" style="background-color: transparent;">
                        <h2>Phone number</h2>
                        <h5 class="text-muted">9 of 9</h5>
                    </div>

                    <form [formGroup]="formGroup">
                        <div class="card-body mb-2">
                            <div class="mt-2">
                                <h3 class="card-title">Add your phone number.</h3>
                                <div class="form-group">
                                    <label for="InputPhone" class="pg-desc-phone mt-5">Phone</label>
                                    <input formControlName="Phone" type="tel" class="form-control pg-desc-phone" id="InputPhone" placeholder="Enter number">
                                    <div *ngIf="formGroup.controls['Phone'].invalid && (formGroup.controls['Phone'].touched ||  formGroup.controls['Phone'].dirty)">
                                        <small class="form-text text-danger" *ngIf="formGroup.controls['Phone'].hasError('required')">Required Last Phone</small>
                                        <small class="form-text text-danger" *ngIf="formGroup.controls['Phone'].hasError('minlength')">Min Length is 8</small>
                                        <small class="form-text text-danger" *ngIf="formGroup.controls['Phone'].hasError('maxlength')">Max Length is 11</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="pg-desc-phone ml-4">Your phone number will not be shared with clients.</p>
                    <div class="card-footer mt-5 mb-4" style="background-color: transparent;">
                        <a routerLink="/freelancer/location" class="btn btn-success back-btn1 float-left mt-3">Back</a>
                        <a routerLink="/freelancer/profile" class="btn btn-success fill-out-btn float-right mt-3">Submit</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

