<div *ngIf="stars == 0">There is no rating</div>
<h1>Hello</h1>
<div>
  <span
    class="fas fa-star"
    [class.checked]="stars >= 2"
    (click)="changeRating(2)"
  >
  </span>

  <span
    class="fas fa-star"
    [class.checked]="stars >= 3"
    (click)="changeRating(3)"
  ></span>

  <span
    class="fas fa-star"
    [class.checked]="stars >= 4"
    (click)="changeRating(4)"
  ></span>

  <span
    class="fas fa-star"
    [class.checked]="stars >= 5"
    (click)="changeRating(5)"
  ></span>
</div>
<!-- glyphicon glyphicon-star -->
<!-- <i class="fas fa-star"></i> -->
