<button
  type="button"
  color="primary"
  class="relative waves-light btn btn-green px-5 py-1"
  (click)="basicModal.show()"
  mdbWavesEffect
>
  {{ mainButton }}
</button>

<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mb-0" role="document">
    <div class="modal-content">
      <!-- modal-header  -->
      <div class="mb-3">
        <!-- x -->
        <div class="row">
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="basicModal.hide()"
          >
            <span aria-hidden="true" class="">×</span>
            <br />
          </button>
        </div>
        <!-- icon -->
        <div class="row icon text-center mt-5">
          <i class="fas fa-4x fa-check text-green rotate"></i>
        </div>

        <!-- name & question  -->
        <div class="row mt-3">
          <p
            class="modal-title w-100 text-center col-md-12 mt-4"
            id="myModalLabel"
          >
            <b class="text-darkBlue">{{ question }}</b>
            <b class="text-green"> {{ name }} </b>
            <b> ?</b>
          </p>
        </div>
      </div>

      <!-- text area for review -->

      <div class="mt-0 pb-3 px-3" *ngIf="functionName === 'endContract'">
        <div class="md-form col-md-12">
          <div class="row justify-content-center">
            <!-- hours  -->
            <div *ngIf="paymentType === 'Hourly'" class="col-md-4 col-xs-12">
              <!-- <label for="" class="hours text-muted">number of hours</label> -->

              <input
                type="number"
                class="form-control hours-input"
                #hoursInput
                (blur)="hoursValue(hoursInput.value)"
                placeholder="number of hours"
              />
            </div>
            <!-- rating -->

            <div class="rating col-md-4 col-xs-12">
              <ul
                class="list-inline rating-list"
                *ngFor="let star of stars"
                style="display: inline-block"
              >
                <li
                  (click)="countStar(star)"
                  [ngClass]="{ selected: star <= rating }"
                >
                  <i class="fa fa-star"></i>
                </li>
              </ul>
            </div>
            <!--  -->
          </div>

          <textarea
            type="text"
            id="form7"
            class="md-textarea md-textarea-auto form-control mt-0 pb-5"
            placeholder="you can share your experince for this job ex : {{
              textArea
            }}"
            formControlName="Review"
            #reviewInput
            (blur)="textValue(reviewInput.value)"
          ></textarea>
        </div>
      </div>
      <!-- 
      <div class="modal-body">
      
      </div> -->

      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          color="secondary"
          class="waves-light btn-green btn"
          aria-label="Close"
          (click)="basicModal.hide(); handleClick(functionName, false)"
          mdbWavesEffect
        >
          {{ LeftButton }}
        </button>
        <button
          type="button"
          mdbBtn
          color="primary"
          class="relative waves-light btn btn-outline-green"
          (click)="basicModal.hide(); handleClick(functionName, true)"
          mdbWavesEffect
        >
          {{ rightButton }}
        </button>
      </div>
    </div>
  </div>
</div>
