<!-- <p>budget works!</p> -->

<section class="bg-light mt-4 mb-3 ml-3">
  <form [formGroup]="budgetForm">
    <!-- get-stated -->
    <div class="col-xs-12 px-0">
      <div>
        <!--Type of Project   -->

        <div class="card">
          <div class="card-body">
            <!-- title -->
            <header>
              <h1 class="main-title">Budget</h1>
              <p class="hint text-muted ml-2">Step 3 to 7</p>
              <hr />
            </header>

            <!-- Payment -->

            <div class="form-group mb-5">
              <!-- <div class="container"> -->
              <p class="sub-title">
                How would you like to pay your freelancer or agency?
                <span class="fas fa-question-circle text-success"></span>
              </p>
              <div class="row">
                <div class="col-md-6">
                  <!-- [checked]="projectType === 'One Time' ? true : false" -->
                  <app-card
                    cardIcon="fas fa-2x fa-stopwatch"
                    cardTitle="Pay by hour"
                    cardText="Find a good one to accomplish task for one times"
                    class="col-sm-4"
                    id="payment"
                    #radioInput
                    value="Hourly"
                    [checked]="isByHour"
                    formControlName="PaymentType"
                    ngDefaultControl
                    (change)="
                      isChecked(radioInput.cardTitle); radioInput2.value = ''
                    "
                  ></app-card>
                </div>
                <div class="col-md-6">
                  <app-card
                    cardIcon="fas fa-2x fa-tag"
                    cardTitle="Pay a fixed price"
                    cardText="Find a good one to accomplish task for one times"
                    class="col-sm-4"
                    id="payment"
                    #radioInput2
                    value="Fixed price"
                    formControlName="PaymentType"
                    [checked]="isFixed"
                    ngDefaultControl
                    (change)="
                      radioInput2.value = 'Fixed price';
                      isChecked(radioInput2.cardTitle);
                      radioInput.value = ''
                    "
                  ></app-card>
                </div>
              </div>
              <br />

              <!--fixed price result -->
              <!-- 
              <div class="fixed-price" *ngIf="radioInput2.checked">
                <label for="" class="sub-title"
                  >Do you have a specific budget?</label
                >
                <div class="row">
                  <div class="col-sm-4">
                    <input
                      type="number"
                      class="form-control form-control-lg text-right"
                      placeholder="0"
                      formControlName="Price"
                    />
                    <span
                      class="glyphicon glyphicon-usd text-muted icon"
                    ></span>

                    <div
                      *ngIf="
                        (budgetForm.invalid &&
                          budgetForm.controls['Price'].touched) ||
                        budgetForm.controls['Price'].touched
                      "
                    >
                      <p
                        *ngIf="
                          budgetForm.controls['Price'].hasError('required')
                        "
                        class="text-danger hint"
                      >
                        required
                      </p>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="fixed-price" *ngIf="radioInput2.checked">
                <app-fixed-input
                  title="Do you have a specific budget?"
                  icon="glyphicon glyphicon-usd text-muted"
                  (isFixedVaild)="FixedValidation($event)"
                ></app-fixed-input>
              </div>
              <br />

              <!-- pay by the hour -->

              <div class="pricing" *ngIf="radioInput.checked">
                <p class="sub-title">Set your estimated budget</p>
                <app-pricing
                  (isHourlyVaild)="HourlyValidation($event)"
                ></app-pricing>
              </div>
            </div>
            <!-- button -->

            <hr />
            <button
              type="button"
              class="btn btn-outline-green btn-lg py-2 px-5 mr-3"
              routerLink="/post-job/details"
            >
              <b>Back</b>
            </button>
            <button
              type="button"
              class="btn btn-green btn-lg py-2 px-5"
              (click)="StoreDataAndNavigate()"
              [disabled]="!isBudgetValid()"
              routerLink="/post-job/review"
            >
              <!-- 
                   (click)="storeData()"
                routerLink="/review"
              [disabled]="!budgetForm.valid" -->
              <b>Next</b>
            </button>
          </div>

          <br />
        </div>
        <!-- </div> -->
        <br />

        <br />
      </div>
    </div>
  </form>
</section>
