.img-width{
    width:15%;
}
@media (max-width:575px) {
    .img-width{
        width: 20%;
    }
}
@media (min-width:576px) and (max-width:767px){
    .img-width{
        width: 20%;
    }
}
@media(min-width:768px) and (max-width:920px){
    .img-width{
        width: 17%;
    }
}
@media(min-width:921px) and (max-width:1200px) {
    .img-width{
        width: 15%;
    }
}