<footer class="footer-background-color page-footer font-small indigo">
  <!-- Copyright -->
  <div class="footer-copyright text-center text-light py-3">
    <span class="ml-3"
      ><a href="#" class="text-light mr-3"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-light mr-3"><i class="fab fa-linkedin-in"></i></a>
    </span>
    <hr />
    <div class="footer-copyright ml-3 text-light py-3">
      © 2015 - 2021 Upwork® Global Inc.
    </div>
  </div>
</footer>
